/* General Set-up */

:root{
    --clr-pink: #FF64AE;
    --clr-blue: rgb(9, 17, 86);
    --clr-light-blue: #D8DCFF;
    --clr-gray: #8B8B8B;
    --clr-bg: #FFFFFF;

    
    --ff-all: 'Poppins', sans-serif;
    
}

* {
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-bg);  
    font-family: var(--ff-all); 
}
.container {
    max-width: 1920;

}
h1,h2,h3,h4,h5,h6, p{
    font-family: var(--ff-all);
}

/* Styles */

.container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-top: 100px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.left img {
    width: 100%;
}

.right {
    margin-left: 150px;
    width: 50%;
}

.right .content h2{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: var(--clr-pink);
}

.right .content h3{
    margin-top:15px;

    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    color: var(--clr-blue);
}

.right .content p{
    margin-top:10px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: var(--clr-gray);
}

.right button {
    margin-top: 40px;

    width: 200px;
    height: 58.36px;
    border-radius: 50px;
    background-color: var(--clr-pink);
    border: 1px solid var(--clr-pink);
    color: white;
    font-family: var(--ff-all);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: all ease .5s;
}

.right button:hover {
    box-shadow: #f36eae 0px 20px 30px -10px;
}

/* ################################################### */
/* Responsive */

@media (max-width: 1000px) {
    .container {
    
        width: 100%;
        margin-top: 80px;
    }
    
    .wrapper {
        display: flex;
        flex-direction: row;
        width: 80%;
        align-items: center;
        justify-content: center;
    }
    
    .left img {
        width: 100%;
    }
    
    .right {
        margin-left: 70px;
        width: 50%;
    }
    
    .right .content h2{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        color: var(--clr-pink);
    }
    
    .right .content h3{
        margin-top:15px;

        font-size: 30px;
    }
    
    .right .content p{
        margin-top:10px;

        font-size: 14px;
    }
    
    .right button {
        margin-top: 30px;
    
        width: 170px;
        height: 50px;
        border-radius: 50px;
        font-size: 14px;
    }
    
    .right button:hover {
        box-shadow: #f36eae 0px 20px 30px -10px;
    }
}

@media (max-width: 800px) {
    .container {
    
        width: 100%;
        margin-top: 80px;
    }
    
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        justify-content: center;
    }
    
    .left img {
        width: 100%;
    }
    
    .right {
        margin-top: 40px;
        width: 70%;
        margin-left: 0;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .container {
        width: 100%;
        margin-top: 0;
    }
    
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        justify-content: center;
    }
    
    .left img {
        width: 100%;
    }
    
    .right {
        margin-top: 40px;
        width: 70%;
        margin-left: 0;
        align-items: center;
        text-align: center;
    }
    
    .right .content h2{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        color: var(--clr-pink);
    }
    
    .right .content h3{
        margin-top:15px;

        font-size: 2rem;
    }
    
    .right .content p{
        margin-top:10px;

        font-size: 12px;
    }
    
    .right button {
        margin-top: 20px;
    
        width: 140px;
        height: 40px;
        border-radius: 50px;
        font-size: 12px;
    }
    
    .right button:hover {
        box-shadow: #f36eae 0px 20px 30px -10px;
    }
}
